<!doctype html>
<html>
  <head>
    <title>postcard</title>
    <link rel="stylesheet" href="vendor/dropzone.css"/>
    <link rel="stylesheet" href="vendor/materialize.css"/>
    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/p5.min.js"></script>
    <script src="vendor/p5.dom.js"></script>
    <script src="vendor/dropzone.min.js"></script>
    <script src="vendor/materialize.js"></script>
    <script src="sketch.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="/upload" class="dropzone" id="dropzone-image">
      </form>
      <div id="canvas-holder"></div>
    </div>
    <script>
      (function() {
        Dropzone.options.dropzoneImage = {
          init: function() {
            this.on('success', function(file) {
              window.postapp.init('/uploaded/files/' + file.name);
            });
          },
          maxFiles: 1
        };
      })();
    </script>
  </body>
</html>
